/*Body Styles*/
body {
  background-color: #edeff0;
  font-family: 'Open Sans', sans-serif;
  padding: 15px 0 0 0;
}

/* Header Styles */
header {
  width: 95%;
  border: 2px solid white;
  margin-bottom: 0.75em;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0, 0.1);
}

h1 {
  font-size: 2.125em;
}

/* Body Styles */
main {
  text-align: center;
  display: none;
}

section {
  background-color: #fff;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0, 0.1);
}

img {
  margin-top: 1.5em;
  border: 8px solid #edeff0; /*edeff0*/
  border-radius: 50%;
}

#message {
  width: 90%;
  margin: 0 auto;
  /*margin-left: auto;
  margin-right: auto;*/
  padding-top: .75em; 
  font-size: 1.25em;
}

svg {
  width: 85%; 
}

#footnote {
  text-align: center; 
  display: none;
}

/* Achievement Timeline Styles*/
.mg-line1-color {
    stroke: #5fcf80;  /*Treehouse green*/
}

.mg-hover-line1-color {
    fill: #5fcf80;
}

.mg-area1-color {
    fill: #9fe2b2;
}

/* Set chart topic colors to match Treehouse */

.html { fill: #39ADD1; }
.css { fill: #3079AB;}
.design { fill: #e59a13;}
.javascript {  fill: #c25975; }
.ruby { fill: #e15258;}
.php { fill: #7D669E;}
.wordpress { fill: #838CC7;}
.ios { fill: #53BBB4;}
.android { fill: #5cb860; }
.development_tools { fill: #637a91;}
.business { fill: #F9845B;}
.python { fill: #f092b0;}
.java { fill: #2c9676;}
.digital_literacy { fill: #c38cd4;}

/*Data values (svg text elements) styles*/
.text {
  text-anchor: start;
  alignment-base: middle;
/*  font-weight: bold; */ 
}

/****Media Queries*******/
@media screen and (min-width: 53em) {
  header, 
  section { width: 80%; 
            border-radius: 8px;
            box-shadow: 0px 1px 0px 0px rgba(0,0,0, 0.1);
  }
  h1      {
            font-size: 2em;
  }
  svg     {
            width: 80%;
}
  .text   {
            font-size: .85em;
}
