body {
  font-family: 'Open Sans'
}

.sidebar {
  text-align: center;
}

#gravatar {
  display: none;
  border: 4px solid #777;
}

#sidebar {
  text-align: center;
}

.bigNumbers {
  font-size: 4em;
}

.numberTitle {
  font-size: 1.75em;
}

#errorDisplay {
  font-size: 2em;
  color: #f00;
  display: none;
}

/* Achievement Timeline Styles*/
path.mg-main-area {
    opacity: 0.4;
}

path.mg-main-line {
    fill: none;
    opacity: 0.8;
    stroke-width: 2px;
}

.mg-line1-color {
    stroke: #5fcf80;  /*Treehouse green*/
}

.mg-hover-line1-color {
    fill: #5fcf80;
}

.mg-area1-color {
    fill: #9fe2b2;
}

/* Set chart topic colors to match Treehouse subject colors */

.html { fill: #39ADD1; }
.css { fill: #3079AB;}
.design { fill: #e59a13;}
.javascript {  fill: #c25975; }
.ruby { fill: #e15258;}
.php { fill: #7D669E;}
.wordpress { fill: #838CC7;}
.ios { fill: #53BBB4;}
.android { fill: #5cb860; }
.development_tools { fill: #637a91;}
.business { fill: #F9845B;}
.python { fill: #f092b0;}
.java { fill: #2c9676;}
.digital_literacy { fill: #c38cd4;}

/*Data values (bar chart svg text elements) styles*/
.text {
  text-anchor: start;
  alignment-base: middle;
/*  font-weight: bold; */ 
}

/****Media Queries*******/
@media screen and (min-width: 53em) {
  header, 
  section { width: 80%; 
            border-radius: 8px;
            box-shadow: 0px 1px 0px 0px rgba(0,0,0, 0.1);
}

  svg     {
            width: 80%;
}
  .text   {
            font-size: .85em;
}
